body {
    font-family: 'Itim', cursive;
    background-color: #dbf6e9;
    background-image: url(/imagenes/adventuretimefondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contenedor {
    width: 1024px;
    height: 768px;
    margin: auto;
    -moz-box-shadow: 0px 1px 5px #838080;
    -webkit-box-shadow: 0px 1px 5px #838080;
    box-shadow: 0px 1px 5px #838080;
}

header {
    width: 1024px;
    height: 150px;
    background-image: url(/imagenes/banner2.jpg);
    background-position: center;
    background-size: cover;
}

.navegacion {
    width: 1024px;
    margin: 30px auto;
    background-color: rgba(228, 165, 48, 0.932); 
}

.navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    display: inline-block;    
}

.submenu {
    position: absolute;
    background-color: rgb(228, 165, 48);
    width: 155%;
    display: none;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: rgb(185, 129, 64);
    font-size: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}

.menu li a {
    display: block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 16px;
    padding-right: 15px;
}

.menu li a:hover {
    color: rgb(233, 44, 44);
}

#informacion {
    width: 1024px;
    height: 660px;
    -moz-box-shadow: 0px 1px 3px #f1810067;
    -webkit-box-shadow: 0px 1px 1px #f1810067;
    box-shadow: 0px 1px 3px #f1810067;
    background-image: url(/imagenes/fondoeditado3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}

.titulo2 {
    color: rgb(248, 43, 43);
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    margin: 10px;
}

.titulo3 {
    color: rgb(248, 43, 43);
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    padding-right: 400px;
    margin: 35px;
}

.videooutro {
    padding-left: 70px;
    width: 510px;
    height: 350px;
}

.info {
    font-size: 16px;
    width: 720px;
    margin: 10px;
    text-align: left;
}

footer {
    width: 1024px;
    height: 30px;
    padding-top: 5px;
    clear: both;
}

.bycristian {
    text-align: center;
    font-size: 12px;
}

.bycristian a {
    text-decoration: none;
    color: #000;
}

@media handheld, screen and (min-width: 600px) and (max-width: 1023px) {    
    #titulo { 
        width: 580px; 
        height: 40px;
        margin: auto;
    }
    
    #contenedor {
        width: 580px;
        height: auto;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    header {
        height: 190px;
        width: 100%;
        margin-bottom: -15px;
    }
    
    .navegacion {
        width: 580px;
        margin: 15px auto; 
        background-color: rgba(228, 165, 48, 0.932);
    }
    
    .submenu {
        background-color: rgba(228, 165, 48, 0.932);
        width: 143%;
    }

    .menu li {
        position: relative;
        display: inline-block;    
    }
    
    .menu li a {
        display: block;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        padding: 15px 65px;
        font-size: 16px;
        padding-right: 15px;
    }
    
    #informacion {
        width: 580px; 
        height: 570px;
        float: none;
        background-image: url(/imagenes/fondoeditado4.png);
    }
    
    .titulo2 {
        font-size: 19px;
    }
    
    .titulo3 {
        font-size: 19px;
        padding-right: 0px;
        margin: 25px;
        margin-top: 15px;
    }
    
    .videooutro {
        margin: -30px;
        margin-top: -40px;
    }
    
    .info {
        font-size: 15px;
        width: 550px;
        margin: 10px;
        text-align: none;
    }
    
    footer {
        width: 590px;
        height: 30px;
        padding-top: 5px;
        clear: both;
    }
    
    .bycristian {
        text-align: center;
        font-size: 10px;
    }
}

@media handheld, screen and (max-width:599px) {  
    h1 {
        border-radius: none;
    }
    
    #titulo {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    #contenedor {
        width: 100%;
        height: auto;
        margin: auto;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    header {
        width: 100%;
        height: auto;
        background-image: url(/imagenes/banner2.jpg);
        margin-bottom: -5px;
    }
    
    .navegacion {
        width: 100%;
        height: auto;
        margin: 0px auto;
        background-color: rgb(228, 165, 48);
    }
    
    .submenu {
        background-color: rgb(228, 165, 48);
        width: 136%;
    }
    
    .menu li a {
        padding: 19px 17px;
        font-size: 14px;
    }
    
    #informacion {
        width: 100%;
        height: 635px;
        background-image: url(/imagenes/fondoeditado4.png);       
        float: none;
        
    }
    
    .titulo2 {
        color: rgb(248, 43, 43);
        font-family: 'Fredoka One', cursive;
        font-size: 19px;
        margin: 5px;
        height: 30px;
    }
    
    .titulo3 {
        color: rgb(248, 43, 43);
        font-family: 'Fredoka One', cursive;
        font-size: 19px;
        text-align: center;
        padding-right: 0px;
        margin-top: -30px;
    }
    
    .videooutro {
        padding-left: 16px;
        width: 350px;
        height: 230px;
        margin-top: -25px;
    }

    .info {
        font-size: 15px;
        width: 94%;
        height: 320px;
        margin: 6px;
        text-align: left;    
    }
    
    footer {
        width: 100%;
        height: auto;
        padding-top: 0px;
        clear: both;
    }
    
    .bycristian {
        text-align: center;
        font-size: 10px;
    }
}