body {
    font-family: 'Itim', cursive;
    background-color: #dbf6e9;
    background-image: url(/imagenes/adventuretimefondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contenedor {
    width: 1024px;
    height: 768px;
    margin: auto;
    -moz-box-shadow: 0px 1px 5px #838080;
    -webkit-box-shadow: 0px 1px 5px #838080;
    box-shadow: 0px 1px 5px #838080;
}

header {
    width: 1024px;
    height: 150px;
    background-image: url(/imagenes/banner2.jpg);
    background-position: center;
    background-size: cover;
}

.navegacion {
    width: 1024px;
    margin: 30px auto;
    background-color: rgba(228, 165, 48, 0.932); 
}

.navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    display: inline-block;    
}

.submenu {
    position: absolute;
    background-color: rgb(228, 165, 48);
    width: 155%;
    display: none;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: rgb(185, 129, 64);
    font-size: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}

.menu li a {
    display: block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 16px;
    padding-right: 15px;
}

.menu li a:hover {
    color: rgb(233, 44, 44);
}

#informacion {
    width: 1024px;
    height: 660px;
    -moz-box-shadow: 0px 1px 3px #42392e67;
    -webkit-box-shadow: 0px 1px 1px #42392e67;
    box-shadow: 0px 1px 3px #42392e67;
    background-image: url(/imagenes/burninglow.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    
}

.titulo2 {
    color: rgb(245, 69, 69);
    font-family: Adventure Time Logo;
    font-size: 28px;
    margin: 30px;
    text-align: center;
}

.titulo3 {
    color: rgba(250, 228, 169, 0.61);
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 156px;
}

.video {
    text-align: center;
    /* padding-left: 10px;  */
    margin-top: -160px;
    margin-left: 198px;
}

.ultimoparrafo {
    color: rgba(250, 228, 169, 0.575);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px;
    text-align: center;
    margin-top: 8px;
}

.audio {
    color: rgba(247, 204, 88, 0.753);
    width: 365px;
    height: 28px;
    margin-top: 10px;
}

.info {
    font-size: 16px;
    width: 720px;
    margin: 10px;
    text-align: left;
}

footer {
    width: 1024px;
    height: 30px;
    padding-top: 5px;
    clear: both;
}

.bycristian {
    text-align: center;
    font-size: 12px;
}

.bycristian a {
    text-decoration: none;
    color: #000;
}
